body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100%;
    background: #f6f5f3;
}

* {

}







/*.cards {

  column-count: 4;

}

.card {

  background-color: #eee;
    display: inline-block;
    margin: 0 0 0;
    width: 100%;
}



.card__image {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content:center;
  align-items:center;
  font-size:3em;
  min-height:100px;
}
*/







/*.card:not(:empty) {
    margin-bottom: 8px;
}*/

/*.card__close {
    position: absolute;
    top: 0;
    right: 0;
    will-change: transform;
}*/


/*
.image {
max-width: 25%;
}

.image__image {

    opacity: 1;
    transition: opacity 0.3s ease;
}*/

.image__image{
    width: 100%;
}


.board {
}

/*.board__link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    max-width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    color: #07c;
    opacity: 1;
}*/

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

.spinner {
    box-sizing: border-box;

    border: 2px solid transparent;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    font-size: 15px;
    line-height: 28px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) -2px -73px;

    display: inline-block;
    border-top-color: #fc0;
    border-left-color: #fc0;
    animation: spinner 1s infinite linear;
    backface-visibility: hidden;
}

.spinner:after {
    visibility: hidden;
    content: '\00A0'; /* &nbsp; */
}

.infinite__spinner {
    text-align: center;
    padding: 48px;
}

/*.close {
    width: 48px;
    height: 48px;
    position: relative;
}*/

/*.close__icon {
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='rgba(0,0,0,.3)'%3E%3Cpath fill-rule='evenodd' d='M6 4.545L1.455 0 0 1.455 4.545 6 0 10.545 1.455 12 6 7.455 10.545 12 12 10.545 7.455 6 12 1.455 10.545 0z'/%3E%3C/svg%3E") rgba(255,255,255,.7) no-repeat 50%;
    border-radius: 100%;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    display: inline-block;
    position: absolute;
}*/
